<template name="spot">
    {{> quickForm collection="Books" id="insertBookForm" type="insert"}}
</template>


<!--
      <p>
          <p>
            Spot Info
            <button class="addSpot">Edit spot info</button>
            <button class="deleteSpot">Delete spot</button>
          </p>
          
          {{#if spot.editing}}
          <li>
            SpotID: {{spot._id}}
          </li>
          <li>
            UserID: {{spot.user}}
          </li>
          <form class="new-spot">
            <li>
              Spot Name<input type="text" name="spotName" placeholder="{{#if spot.name}} {{spot.name}} {{else}} Type new {{/if}}" />
            </li>
            <li>
              Spot Type<input type="text" name="spotType" placeholder="{{#if spot.type}} {{spot.type}} {{else}} Add type of spot {{/if}}" />
            </li>
            <li>
              Description <input type="text" name="description" placeholder="{{#if spot.descr}} {{spot.descr}} {{else}} Add description {{/if}}" />
            </li>
            <input type="submit" value="Submit">
             type, price, fueled or not, reserved, year, avaliability
          </form>
          {{else}}
          <li>
            SpotID: {{spot._id}}
          </li>
          <li>
            UserID: {{spot.user}}
          </li>
  
          <li>
            Model {{spot.name}}
          </li>

   
          <li>
            Price {{spot.type}}
          </li>
    
        
          <li>
            Reserved {{spot.descr}}
          </li>
     
          <li>
            Fueled {{spot.descr}}
          </li>
          <li>
            Description {{spot.descr}}
          </li>

          {{/if}}
      
        </p>


-->