<template name="add">
    {{#autoForm collection=makerCollection id="insertCarForm" type="insert"}}
    <fieldset>
      <legend>Car</legend>
      {{> afQuickField name='title' value=carInfo.title}}
      {{> afQuickField name='type' value=carInfo.type}}
      {{> afQuickField name='price' value=carInfo.price}}
      {{> afQuickField name='condition' value=carInfo.condition}}
      {{> afQuickField name='notes' value=carInfo.notes}}
      {{> afQuickField name='lat' value=carInfo.lat}}
      {{> afQuickField name='lng' value=carInfo.lng}}
      {{> afQuickField name='fueled' value=carInfo.fueled}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
    {{/autoForm}}
</template>
